{% extends 'auctions/layout.html' %}

{% block body %}

    <!-- First Card containing name and description -->
    <div class="card shadow mx-auto" style="padding: 10px; width: 100rem;">
        {% if item.imglink %}
            <img src="{{ item.imglink }}" alt="Image of {{ item.title }}" class="card-img-top mx-auto" style="width: fit-content; max-width: 100%; height: auto;" >
        {% endif %}
        <div style="margin-top: 20px">
            <h4 class="card-title" style="float: left;">{{ item.title }}</h4>
            <!-- Watchlist button -->
            {% if user.is_authenticated  and user.username != item.seller %}
                <form action="{% url 'watchlist' %}" method="post">
                    {% csrf_token %}
                    {% if not on_watchlist %}
                        <input type="hidden" name="on_watchlist" value="False">
                        <button type="submit" class="btn btn-success" style="float: right; margin-left: 8px;"> Add to watchlist </button>
                    {% else %}
                        <input type="hidden" name="on_watchlist" value="True">
                        <button type="submit" class="btn btn-danger" style="float: right; margin-left: 8px;">Remove From Watchlist</button>
                    {% endif %}
                    <input type="hidden" name="item_id" id="item_id" value="{{ item.id }}">
                </form>
                <div style="clear:both;"></div>
                <!-- Bidding Form -->
                <div>
                    <form action="{% url 'bid' %}" method="post">
                        {% csrf_token %}
                        {{ bidding_form }}
                        <input type="hidden" name="item_id" id="item_id" value="{{ item.id }}">

                        <button type="submit" class="btn btn-warning">Submit Bid</button>
                    </form>
                </div>
            
            {% elif user.is_authenticated and user.username == item.seller %}
                <!-- Close Auction -->
                <div>
                    <form action="{% url 'close' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="item_id" id="item_id" value="{{ item.id }}">
                        <button type="submit" name="open" value="False" class="btn btn-danger" style="float: right;">Close Auction</button>
                        <div style="clear: both;"></div>
                    </form>
                </div>
            {% endif %}
            <div style="clear:both"></div>
            <hr>
            Description: {{ item.description }} <br>
            Starting Bid: {{ item.starting_bid }} <br>
            Current Price: {{ item.current_price }}<br>
            {% if highest_bid %}
                Highest bidder: {{ highest_bid.user }}
            {% else %}
                No bids yet
            {% endif %}
            
            {% if item.open == False %}
                <div class="alert alert-primary">Auction Closed! Winner is {{ highest_bid.user }}</div>
            {% endif %}
        </div>
    </div>

    <!-- Second Card containing Seller and Category -->
    <div class="card shadow mx-auto" style="padding: 10px; margin-top: 30px; width: 100rem;">
        <h3 class="card-title">Details: </h3>
        <ul>
            <li> Seller: {{ item.seller }}</li>
            <li>Category: {{ item.get_category_display }}</li>
        </ul>
    </div>

    <!-- Winning Message -->
    
    <!-- Comment box -->
    <div class="card shadow mx-auto" style="padding: 10px; margin-top: 30px; width:100rem;">
        <h3 class="card-title">Add new comment: </h3>
    <div style="width: 60rem;">
        <form action="{% url 'addcomment' %}" method="post">
                {% csrf_token %}
                <div style="margin-left: 50px;">
                    <textarea name="comment" id="comment" cols="20" rows="4" class="form-control" style="width: 56rem;"></textarea>
                    <input type="hidden" name="item_id" id="item_id" value="{{ item.id }}">
                    <button type="submit" class="btn btn-primary" style="float: right; margin: 5px;">Comment</button>
                </div>
        </form>
        <div style="clear: both; height: 40px;"></div>
        <ul>
            
            {% for comment in comments %}
            <div class="card shadow" style="padding: 10px;">
                <li style="list-style-type: none;">
                    <div class="card text-dark bg-light mb-3">
                        <div class="card-header">
                            <div style="color: blue; float: left;">{{ comment.user }}</div>
                            <div style="float: right;">{{ comment.comment_date }}</div>
                        </div>
                        <div class="card-body">
                            <p class="card-text" style="margin-left: 40px;">{{ comment.comments }}</p>
                        </div>
                    </div>
                    
                </li>
            </div>
            {% endfor %}
        </ul>
    </div>

        
{% endblock %}